/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  src: url("../assets/fonts/redhatdisplay-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/redhatdisplay-variablefont_wght-webfont.woff")
      format("woff");
  font-style: normal;
}

/* Colors */

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
}

/* Basic styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(0.938rem, 12.032px + 0.7936vw, 1rem);
  font-weight: 500;
  line-height: 1.2;
  color: var(--clr-desaturated-blue);
  background-color: var(--clr-pale-blue);
  background-image: url("../assets/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Main content */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  padding: 24px;
}

/* Media queries */

@media (min-width: 576px) {
  body {
    background-image: url("../assets/images/pattern-background-desktop.svg");
  }
}
